<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anniversaire de {{ friendName }} le {{ formattedDate }} </title>
</head>
<body style="margin: 0; padding: 0;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" bgcolor="#f4f4f4">
        <table width="600px" border="0" cellspacing="0" cellpadding="20" style="background: white;">
          <tr>
            <td align="center">
              <h1 style="color: #333; font-family: Arial, sans-serif;">Rappel Anniversaire</h1>
              <p style="font-size: 16px; color: #666; font-family: Arial, sans-serif;">
                 {{ friendName }} va avoir {{ age }} ans le {{ formattedDate }}.
              </p>
              <a href="#" style="display: inline-block; background-color: #007BFF; color: white; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Découvrir</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>