  body {
    margin: 0;
    background-color: var(--blue-bg-color);
    color: var(--blue-font-color);
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
  
    & h6 {
      padding: 0%;
      margin: 0%;
    }
  }
  