  main {
    margin: 0;
    background-color: var(--blue-bg-color);
    color: var(--light-font-color);
    display: flex;
    height: 88vh;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
  
    & h6 {
      padding: 0%;
      margin: 0%;
    }
  }
  