
.main-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-data-core {
  height: fit-content;
  background-color: var(--blue-bg-color);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  border-radius: 24px;
  gap: 15px;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.889) 0px 1px 14px;

  & input {
    margin: 10px;
  }
  & a {
    color: white;
  }
}

form {
  justify-content: first baseline;
  display: flex;
  flex-direction: column;

  & button {
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
  }
}

.card-core {
  background-color: var(--white-bg-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  align-items: center;
  border: solid #dbd9d9 1px;

  & input {
    padding-bottom: 3px;
    margin-bottom: 30px;
  }
}

.align-label-input {
  display: flex;
  flex-direction: row;
}

.url-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  
}