.rgpd-core {
  
    display: flex;
    flex-direction: column;
    & a { 
        position: relative;
        left: 40%;
    margin-top: 80px;
    }

}
.tempo-inutile {
    background-color: var(--blue-bg-color);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 100px;
    margin-top: 70px;
    border-radius: 14px;
    gap: 15px;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.889) 0px 1px 14px;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .tempo-inutile {
        margin: 15px;
        margin-top: 30px;

    }
    .rgpd-core > a {
        margin-top: 40px;
        }
    
}