.main-user {
  flex-direction: column;
}

.component-user-page {
  display: flex;
  flex-direction: row;
}

.add-data-core-user {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* padding-left: 24px; */
    /* padding-right: 60px; */
    margin-top: 50px;
    border-radius: 14px;
    /* gap: 15px; */
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.889) 0px 1px 14px;
    
    /* To change with justify-content space-evenly , in css > main, for only page user. */
    margin-left: 100px;
    /* end of the tempo fix */
    
    & input {
      margin: 10px;
    }
    & a {
      color: white; 
    }
  }
  
  .card-core-user {
    background-color: var(--gold-bg-color);
    padding: 40px;
    border-radius: 12px;
      align-items: center;
  
    & input {
      flex-direction: row;
    }
  }
  