  /* Outside frame for card  */
  
.card-wrapper {
    height: fit-content;
    color: var(--dark-font-color);
  
    & h2 {
      color: var(--dark-font-color);
      font-weight: bold;
    }

    & a {
      color: white;
    }
    @media (max-width: 480px) {
        display: flex;
        justify-content: center;
      }
  }

  @media (max-width: 768px) {
    .flex-column-mobile {
      flex-direction: column;
    }
  }

.card-core {
    background-color: var(--white-bg-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    align-items: center;
    border: solid #dbd9d9 1px;
    width: fit-content;
  }
  