header {
  display: flex;
  height: 12vh;
  width: 100vw;
  padding: 0 25px;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  color: var(--light-font-color);
  justify-content: space-between;
  background-color: var(--gold-bg-color);
  box-shadow: var(--gold-bg-color) 0 0px 10px 8px;
  position: sticky;
  & h2 {
    text-align: center;
    color: var(--blue-font-color);
  }
  & h4 {
    text-align: end;
  }
}

.url {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
  
}

@media screen and (min-width: 600px) {
  .url {
    font-size: larger;
  }
}

.img-fanion {
  position: absolute;
  display: flex;
  left: 0;
  top: 105px;
  width: 100%;
}

.logo-header {
  padding: 15px;
  height: 70px;
  width: 70px;
}

@media (max-width: 600px) {
  header {
    padding: 0;
    padding-right: 15px;
    & h2 {
      font-size: 1rem;
    }
  }
}



