header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100vw;
  padding: 0 25px;
  gap: 10px;
  flex-direction: row;
  /* color: var(--light-font-color); */
  color: black;

  & h4 {
    text-align: center;
    color: var(--blue-font-color);
  }
}

.skewed-header {
  background-color: var(--primary-bg-color);
  height: 60px;
  width: 30px;
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: -15px;
transform: skew(21deg);
}


.search-item:hover {
  color: var(--blue-font-color);
}

.header-div {

  background-color:  var(--primary-bg-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 60px;
  padding: 0 25px;
  gap: 10px;
  flex-direction: row;
  /* color: var(--light-font-color); */
  color: black;

  & h4 {
    text-align: center;
    color: var(--blue-font-color);
  }
}

.url {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
  
}

@media screen and (min-width: 600px) {
  .url {
    font-size: larger;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0;
    padding-right: 15px;
    & h2 {
      font-size: 1rem;
    }
  }
}



