

.add-data-core {
  /* width: 400px; */
  /* height: fit-content; */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  border-radius: 24px;
  gap: 15px;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.889) 0px 1px 14px;
  
  & input {
    margin: 10px;
  }
  & a {
    color: white; 
  }
}

.card-core {
  background-color: var(--gold-bg-color);
  padding: 40px;
  /* height: fit-content; */
  /* height: 15px; */
  border-radius: 12px;
    align-items: center;
    /* height: fit-content; */

  & input {
    flex-direction: row;
    /* background-color: black; */
    
  }
}

