.login-core {
  background-color: var(--gold-bg-color);
  padding-top: 25px;

  width: 70%;
  height: 210px;
  border-radius: 12px;
  align-items: center;

  & input {
    margin: 10px;
  }
}


.add-data-core {
  width: 400px;
  height: auto;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 50px;
  border-radius: 24px;
  gap: 15px;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.889) 0px 1px 14px;
}

.connect {
  margin-top: 10px;
}

.subscribe-core {
  background-color: var(--gold-bg-color);
  width: 80%;
  height: 410px;
  border-radius: 12px;
  /* width: 85dvw; */

  & p,
  input {
    flex-direction: row;
    /* background-color: black; */
  }
}

