.monthMap {
  display: flex;
  align-items: baseline;
  max-width: 140px;
}

.table-current-month {
  display: block;
  text-align: left;
  overflow-wrap: break-word;
  & tr {
    text-align: left;
  }
}

.cancel-icon {
  height: 24px;
  width: auto;
}

.bg-grey {
  background-color: #f4f2ee;
}

.bg-blue {
  background-color: #e4fff7;
}