.monthMap {
  display: flex;
}

.table-current-month {
  color: aliceblue;
  text-align: left;
  & tr {
    text-align: left;
  }
}

.current-month-props {
  padding-bottom: 10px;
}

.cancel-icon {
  height: 24px;
  width: auto;
}
