.edit-icon {
    margin-right: 0.5rem;
    cursor: pointer;
}

.cancel-icon {
    margin-left: 0.5rem;
    cursor: pointer;
}

.valid-icon {
    margin-left: 0.5rem;
    cursor: pointer;
}