table {
  width: 100%;
  font-size: smaller; /* Ajout de la compatibilité avec les navigateurs */
  border-collapse: collapse; /* Réduit l'espace entre les bordures */
  text-align: center; /* nettoyer avec les autres propriete identique */
}

tr {
  border-bottom: 1px solid #dbd9d9;
}

tr:hover {
  background-color: #f4f2ee;
  cursor: pointer;
}

td {
  padding: 10px;
  text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

.table-current-month {
  display: block;
  text-align: left;

  & tr {
    text-align: left;
  }
  & th {
    text-align: center;
  }
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left; 
}

.padding-left-15 {
  padding-left: 15px; 
}

.text-align-center {
  text-align: center;
}

