table {
  width: 100%;
  font-size: smaller; /* Ajout de la compatibilité avec les navigateurs */
  border-collapse: collapse; /* Réduit l'espace entre les bordures */
  text-align: center; /* Cette propriété peut être décalée vers th/td si besoin */
}

tr {
  border-bottom: 1px solid #dbd9d9;
}

tr:hover {
  background-color: #f4f2ee;
  cursor: pointer;
}

td {
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word; /* Gère le retour à la ligne des mots longs */
}

.table-current-month {
  display: block;
  text-align: left;
  overflow-wrap: break-word;
  & tr {
    text-align: left;
  }
  & th {
    text-align: center;
  }
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left; 
}

.padding-left-15 {
  padding-left: 15px; 
}

.text-align-center {
  text-align: center;
}

.column-firstname,
.column-lastname,
.column-birthday,
.column-age {
  width: 25%; /* Largeurs uniformes pour chaque colonne */
}
