.calendar-core {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: #0a9396;
    /* Temporaire  */
    background-image: url(../assets/img/tempoCalendar1.jpg);
    /* temporaire */
    height: 60dvh;
    width: 25dvw;
    padding-top: 20px;
    margin-top: 50px;
    /* border: black 2px solid; */
    border-radius: 24px;
    gap: 15px;
    align-items: center;
    box-shadow: rgba(97, 96, 96, 0.889) 0px 8px 24px;
}

.add-data-core {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: #0a9396;
    height: 60dvh;
    width: 25dvw;
    padding-top: 20px;
    margin-top: 50px;
    /* border: black 2px solid; */
    border-radius: 24px;
    gap: 15px;
    align-items: center;
    box-shadow: rgba(97, 96, 96, 0.889) 0px 8px 24px;

}



.connect {
    margin-top: 10px;
}

/* 

Jaune

#f0c808

bleu 

#086788 */