@import "./components-styles/monthBirthday.css";
@import "./components-styles/calendar.css";
@import "./components-styles/header.css";
@import "./components-styles/tables.css";
@import "./components-styles/form.css";
@import "./components-styles/ReadAllFriends.css";
@import "./components-styles/add-data.css";
@import "./components-styles/modal.css";
@import "./components-styles/card.css";
@import "./pages-styles/body.css";
@import "./pages-styles/user.css";
@import "./pages-styles/rgpd.css";
@import "./pages-styles/login.css";
@import "./animations.css";
@import "./app.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


button {
  cursor: pointer;
}

:root {
  /* Font */
  --dark-font-color: black;
  --light-font-color: white;
  --gold-font-color: #bba637;
  --blue-font-color: #146b96;

  --first-font: Inter;
  font-family: var(--first-font);
  /* --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 16px;
  --font-size-text: 14px; */

  /* Element color */
  --blue-bg-color: #146b96;
  --primary-bg-color: #F4F2EE;
  --white-bg-color: white;

}

* {
  box-sizing: border-box;
  margin: 0;
}
