.login-core {
    background-color: #a7d2c4;
    width: 420px;
    height: 210px;
    border-radius: 12px;


    /* width: 85dvw; */
}

.subscribe-core {
    background-color: #a7d2c4;
    width: 420px;
    height: 410px;
    border-radius: 12px;
    /* width: 85dvw; */

    & p,
    input {
        flex-direction: row;
        /* background-color: black; */
    }
}

.inscription-login {
    z-index: 2;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: #0a9396;
    height: max-content;

    /* height: 60dvh; */
    width: 25dvw;
    padding: 20px;
    margin-top: 30px;
    border-radius: 24px;
    gap: 15px;
    align-items: center;

    & input {
        background-color: #94d2bd;
        height: 25px;
        /* width: 200px; */

    }

}